*, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    position: relative;
  }

    #signUp {
        border-radius: 15px;
        border: 2px solid red;
        background-color: red;
    }


    #header {
        position: relative;
        background-color: black;
        height: 100vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    #header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .5;
        z-index: 1;
    }

    #winter-video {
        position: absolute;
        box-sizing: border-box;
        margin-top: 0;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }


    .active {
        color: #fff;
        text-decoration: none;
    }


   #header .container { 
      position: relative;
      z-index: 2;
    }

   main > .container {
        padding: 60px 15px 0;
      }

      .footer {
        left: 0;
        bottom: 0;
        width: 100%;
      }
 
      #main-carousels {
          max-height: 100%;
      }


  section#subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  margin: 0 auto; */
    gap: 10px;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
   ;
}

    section#subscribe div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

    section#subscribe input {
    padding: 10px;
    border-radius: 5px;
    }

    section#subscribe button {
    padding: 10px;
    border-radius: 5px;
}



@media (pointer: coarse) and (hover: none) {

    #header {
        background: url("./images/mobile-home-page.jpg") black no-repeat center center scroll;   
    }

    #header video {
        display: none;
    }

}